---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  url="https://omg.com/contact"
  title="contact"
  description="contact"
  keywords="omg, omg1"
  image={{
    url: 'string',
    alt: 'string',
    type: 'image/jpeg',
    width: 1200,
    height: 630,
  }}
>
  <h1>Contact</h1>
</BaseLayout>
