<header class="container">
  <nav aria-label="Primary Navigation">
    <ul>
      <li><strong>Cevdet</strong></li>
    </ul>
    <ul>
      <li><a href="/astro-template/">Home</a></li>
      <li><a href="/astro-template/about/">About</a></li>
      <li><a href="/astro-template/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
